body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.logoContainer p {
  color: #ffffff;
}

.notButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
}

.notButtons button {
  margin-right: 20px;
}

header {
  background-color: rgb(0, 0, 0);
  height: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.headerDivMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px 0 20px;
}

header li {
  display: inline;
  color: white;
  margin-right: 20px;
}

header a {
  text-decoration: none;
}

#headerButtons {
  background-color: #c94000;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}

header .nav a {
  text-decoration: none;
  font-weight: 900;
  color: #ffffff;
}
header a:hover {
  color: #cccccc;
  font-weight: bold;
  font-size: 18px;
}
header .current a {
  color: #e8491d;
  font-weight: bold;
}
a:visited {
  color: white;
}
.logo img {
  width: 50px;
  height: 50px;
}

.menuItems {
  display: flex;
  align-items: center;
}
.getStartedImageContainer {
  width: 100%;
  min-height: 600px;
  background-image: url("../assets/coverImage.jpg");
}
.bigTextsSmallAndButton {
  padding: 20px;
}
.bigTextsContainer h1 {
  color: white;
  font-size: 40;
  font-weight: 900;
}
.bigTextsContainer {
  margin-top: 100px;
  margin-left: 30px;
}
.bigTextsContainer p {
  color: white;
  font-size: 24;
}
.bigTextsContainer button {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: #1d75e8;
  color: white;
  font-weight: 700;
}

.divsContainer {
  height: 300px;
  background-color: rgb(238, 228, 253);
  width: 300px;
  padding: 20px;
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.parentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divsContainer img {
  width: 80px;
  height: 80px;
}

.aboutUs {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutUs h1 {
  font-size: 40px;
}
.aboutUs p {
  text-align: center;
}
.subscriptionsParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
.planHeadText {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
.sub1 {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  height: 640px;
  width: 300px;
  position: relative;
}
.icons {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 20px;
}
.icons i {
  margin-bottom: 35px;
}
.iconAndPrising {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}
.pricing {
  display: flex;
  flex-direction: column;
}
.investButton {
  position: absolute;
  bottom: 40px;
  padding: 10px 50px 10px 50px;
  margin-left: 70px;
  border-radius: 10px;
  background-color: #1d75e8;
  color: white;
}
.ourServicesSection {
  margin-bottom: 50px;
}
.ourServicesTextContainer {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.firstImageDiv img {
  height: 300px;
}
.customH1 {
  font-size: 40px;
  color: #2c005e;
}
.ourServicesTextContainer p {
  font-weight: 500;
  font-size: 20px;
}
.firstImageDiv {
  padding: 20px;
  background-color: rgb(241, 235, 250);
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.firstImageDiv div {
  margin: 20px;
}

.secondImageDiv img {
  height: 300px;
  width: 400px;
}

.secondImageDiv {
  padding: 20px;
  background-color: rgb(241, 235, 250);
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.secondImageDiv div {
  margin: 20px;
}
.investmentPlanText {
  color: white;
  font-weight: 700;
}
.investmentTit {
  color: white;
  font-size: 40px;
}
.investmentDesc {
  color: white;
  font-weight: 500;
  text-align: center;
}

.fa-check-circle {
  color: green;
  margin-right: 10px;
}

.description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.termsSection {
  padding: 20px;
}
.termsSection h1 {
  text-align: center;
}

footer {
  height: 350px;
  background-color: #000000;
  padding: 20px;
  background-image: url("../assets/trading2.jpg");
}
.footerHeading {
  color: white;
  margin-left: 10px;
  margin-bottom: 40px;
}
.fa-whatsapp {
  color: green;
}
footer img {
  height: 30px;
  width: 45px;
}
.parentDivFooter {
  display: flex;
  flex-direction: row;
}
.parentDivFooter div {
  margin-right: 100px;
}

.copyright {
  text-align: center;
  color: gray;
  margin-top: 80px;
}
footer li {
  color: white;
  font-size: 12px;
}
.investmentContainer {
  background-color: #000000;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.payContainer {
  background-color: #ffffff;
  height: 100%;
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px 20px;
}
.payContainer h3 {
  margin-bottom: 50px;
}
.depositBody {
  background-image: url("../assets/trading4.jpg");
  min-height: 100%;
}
.depositSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.payContainer img {
  height: 80px;
  width: 80px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;

  justify-content: center;
}
.formContainer input {
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
}
.submitButton {
  background-color: #1d75e8;
  color: white;
  font-weight: 700;
  font-size: 12px;
}
.formContainer label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}
.payContainer p {
  font-size: 12;
  bottom: 0px;
  position: absolute;
  color: gray;
}
.popUpWindow {
  background-color: #bebebe;
  height: 100%;
  width: 30%;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-items: center;
  display: none;
}

.popUpWindow img {
  width: 90px;
  height: 20px;
  text-align: center;
}
.request {
  font-size: 14px;
  text-align: center;
}
.address {
  font-size: 14px;
  text-align: center;
}
.receiptText {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.grayText {
  color: gray;
  margin-right: 20px;
}
.note {
  font-size: 10px;
  bottom: 40px;
  color: gray;
  text-align: center;
}

.finishButton {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  background-color: #1d75e8;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
#status {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #c76102;
  font-weight: 700;
  padding: 10px;
  border-radius: 7px;
}
#status.success {
  background-color: #d7fff6;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: #ffd0d0;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.profileContainer {
  background-color: #ffffff;
  height: 100%;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 20px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.topElementsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.balanceContainer h1 {
  font-size: 14px;
}
.actualBalance {
  font-weight: 900;
  margin-right: 20px;
}
.balanceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoutAndEditContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
}
.logoutAndEditContainer p {
  font-size: 12px;
  font-weight: 900;
}
.lineBefore {
  margin-bottom: 80px;
}
.attributes {
  font-weight: 700;
  margin-left: 50px;
}
.wihdrawContainer input {
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc {
  font-size: 12px;
  font-weight: 500;
  color: gray;
  margin-top: 110px;
  text-align: center;
}
.withdrawButton {
  background-color: #1d75e8;
  color: white;
  margin-top: 10px;
  font-weight: 700;
  font-size: 12;
}
.wihdrawContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupContainer {
  background-color: #ffffff;
  height: 100%;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
}
.signupContainer img {
  height: 80px;
  width: 80px;
}
.signFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signFormContainer input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
.signFormContainer label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}
.already {
  display: flex;
  align-items: center;
}
.already p {
  font-size: 12px;
  font-weight: 700;
}
#loginText {
  color: #c94000;
  margin-left: 10px;
}
.depositButton {
  width: 100%;
  height: 40px;
  background-color: #1d75e8;
  color: white;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
}
.profileActionsButton {
  background-color: #000000;
  color: white;
  font-size: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-top: 40;
}
#date {
  font-size: 12px;
}
.accountDetailsContainer {
  position: relative;
  background-color: #ffffff;
  height: 280px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 20px 20px 0 20px;
}
.lineAccount {
  margin-bottom: 20px;
}
#pleaseSignIn h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: white;
}
