{% load static %}
<head>
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" 
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/0a5c0d1ef5.js" crossorigin="anonymous"></script>
<script src="../firebase8tutorial/index.js"></script>
</head>
<body class="depositBody">
    <header >
      {% if user.is_authenticated %}
      <div class="headerDivMain" >

        <div class="logoContainer">
            <a class="logo"><img src= {% static 'assets/logo.png' %} alt="logo"></a>
        </div>


        <div class="menuItems">
          <div>
            <nav>
                <ul class="nav">
                    <li ><a href="/">Home</a></li>
                    <li ><a href="/terms">Terms</a></li>
                    <li><a href="/getStarted">Get started</a></li>
                    <li><a href="/deposit">Deposit</a></li>
                    <li><a href="withdraw">Withdraw</a></li>              
                </ul>
            </nav>
          </div>

          <div>
            <button id="headerButtons" type="submit"><a href="/account">My profile</a></button>
            <button id="headerButtons" type="submit"><a href="/signout">Sign out</a></button>
          </div>
          
        </div>


  </div>

  {% else %}

      <div class="notButtons" >
       
          <button id="headerButtons" type="submit"><a href="/signup">SignUp</a></button>
          <button id="headerButtons" type="submit"><a href="/signin">SignIn</a></button>
     
      </div>

      {% endif %}
  

    </header>


    <!-- Autoscroll links-------------------------------------------------------------- -->

    <section class="autoScroll" data-image-width="1725" data-image-height="1294">
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols" [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
              }
            ],
            "showSymbolLogo"; true,
            "colorTheme"; "dark",
            "isTransparent"; false,
            "displayMode"; "adaptive",
            "locale"; "en"
          }
            </script>
          </div>
    </section>


    {% comment %} Some message {% endcomment %}

    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong> {{ message }}

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}


    {% if user.is_authenticated %}

    <section class="depositSection">
        {% csrf_token %}
        <div class="accountDetailsContainer">

            <div class="topElementsContainer">
            
                    <div class="avatarAndNamecontainer">
                       
                        <h1>Hello {{user.username}}</h1>
                    </div>

                    <div class="balanceContainer">
                            <h1 class="grayText" >Current balance:  </h1>
                            <h1 id="balance" onclick="" class="actualBalance"> {{user.last_name}} BTC </h1>
                    </div>
                
            </div>

            <hr class="lineAccount" size="0.5" width="100%" color="gray"> 

            <div class="receiptText">
                <div class="grayText" >
                        <p>Name:</p>                
                        <p>email:</p>
                </div>

                <div class="attributes">
                    
                        <p id="full_name">{{user.first_name}} </p>                      
                        <p id="email">{{user.email}}</p>
                </div>
            </div>

            <div class="logoutAndEditContainer">
             
                <button class="profileActionsButton"><a href="/signout">Sign out</a></button>
                
            </div>
            
        </div>
    </section>

    <script>
        
      database_ref.child("users/" + user.uid).on("value", function (snapshot) {
        document.getElementById("full_name").value = snapshot.val().full_name;
        document.getElementById("email").value = snapshot.val().email;
        document.getElementById("balance").value = snapshot.val().balance;
      });
    </script>



 



    <footer>
        
        <div class="parentDivFooter">
            <div >
                <h1 class="footerHeading">Contact us</h1>
                <ul>
                    <li>Call us: +44745097856</li>
                    <br>
                    <li>Text us: +44745097856</li>
                    <br>
                    <li>WhatsApp: +44745097856</li>
                    <br>
                    <li>Email us: info@forexbinary.co.uk</li>
                </ul>
            </div>

            <div >
                <h1 class="footerHeading">Special links</h1>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <br>
                    <a href="/getStarted"><li>Get started</li></a>
                    <br>
                    <a href="/deposit"><li>Deposit</li></a>
                    <br>
                    <a href="/signin"><li>Login</li></a>
                    <br>
                    <a href="/signup"><li>Signup</li></a>
                </ul>
            </div>
        </div>


        
        <p class="copyright">Copyright® 2021 Forex Binary| Powered by Forex Binary</p>
        
   </footer>

   {% else %}
   
   
      <h1 id="pleaseSignIn" >Please sign in or create account</h1>



   {% endif %}

</body>
</html>