<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <p>
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>

    <form method="post">
      {% csrf_token %} {{form}}
      <input type="Submit" name="Update Password" />
    </form>
  </body>
</html>
